$primary-font: Poppins500;
$secondary-font: Poppins600;

// colors

$primary-color: #F58A07;
$text-color: #1D3444;
$text-color2: #0D1317;
$p-color: #5B5B5B;
$black333-color: #333;
$white-color: #FFF;
$dark-color: black;
$bgc-white: #EDF7FF;
$bgc2-white: #DCEAF5;
$footer-bgc: #063255;