.container__1320,
.container__792 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container__1320 {
  max-width: 1320px;
}

.container__792 {
  max-width: 792px;
}

.container__full {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
