@font-face {
    font-family: Poppins400;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins500;
    src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins600;
    src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Inter400;
    src: url(../../assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter500;
    src: url(../../assets/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter600;
    src: url(../../assets/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: Inter700;
    src: url(../../assets/fonts/Inter/Inter-Bold.ttf);
}


